img {
  max-width: 100%;
}

.ms_header {
  background-color: aqua;
}
/* sezione  */
.jumbo {
  background-color: green;
  width: 100%;
  height: 300px;
}

.ms_container {
  max-width: 600px;
  margin: 0 auto;
}
.about{
  background-color: aquamarine;  
  color: white;
}

.prefooter{
    background: rgba(0, 0, 106, 0.688);
}


.color-footer{
    background-color: rgba(0, 0, 57, 0.814);
    width: 100%;
    height: 60px;
}